{{#each blogs as |blog|}}
<div class="section">
  <div class="heading">
    <h2>{{blog.title}}</h2>
    <p>Posted by <span>{{blog.user.username}}</span> on <span>{{format_date blog.date_created}}</span></p>
  </div>
  <div id="content">
    <p>{{content}}</p>
  </div>
</div>

{{#if blog.comment.length}}
<div class="section">
  <div class="heading">
    <h2>comment</h2>
  </div>
  <div id="content">
    <p>{{blog.comment}}</p>
  </div>
</div>
{{/if}}

{{/each}}